@model MES.Models.MaterialViewModel

@{
    ViewBag.Title = "物料搜尋";
}

<link href="@Url.Content("~/css/searchbar/searchbar.css")" rel="stylesheet" />


<div class="pt-5">
    @Html.ValidationMessageFor(model => model.mNo, "", new { @class = "text-danger d-flex justify-content-center" })
    <div id="cover">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="tb">
                <div class="td">
                    @Html.EditorFor(model => model.mNo, new { htmlAttributes = new { @class="text-black-50",placeholder = "請輸入物料編號" } })
                </div>
                <div class="td ">
                    <button type="submit">
                        <i class="fa fa-search fa-5x text-black-50" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        }
    </div>
</div>
