@model IEnumerable<MES.Models.material>


@{
    ViewBag.Title = "物料";
}

<div class="row justify-content-center m-3">
    <div class="col-md-12">
        <div class="container">
            <div class="h2 mt-2">
                <span class="text-primary">物料列表</span>
            </div>
            <div class="table-responsive">
                <table class="table table-striped custom-table display " id="myDataTable">
                    <thead>
                        <tr scope="col">
                            <th nowrap="nowrap">
                                物料編號
                            </th>
                            <th nowrap="nowrap">
                                物料名稱
                            </th>
                            <th nowrap="nowrap">
                                來源工廠
                            </th>
                            <th nowrap="nowrap">
                                形狀
                            </th>
                            <th nowrap="nowrap">
                                邊長
                            </th>
                            <th nowrap="nowrap">
                                直徑
                            </th>
                            <th nowrap="nowrap">
                                長度
                            </th>
                            <th nowrap="nowrap">
                                備註
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    var Popup, dataTable;
    $(document).ready(function () {
        dataTable = $('#myDataTable').DataTable({

                "ajax": {
                    "url": '@Url.Action("GetDataList" , "Material" )',
                    "type": "get",
                    "datatype": "json"
                },
                "language": {
                    url: "@Url.Content("~\\Content\\lang\\Chinese-traditional.json")"
                },
                "order": [[ 0, "asc" ]],
                "columns": [
                    { "data": "m_No", "width": "20px" },
                    { "data": "m_Name", "width": "10px" },
                    { "data": "factory_no", "width": "20px" },
                    { "data": "shape_no", "width": "5px" },
                    { "data": "shape_length", "width": "5px" },
                    { "data": "shape_diameter", "width": "5px" },
                    { "data": "length", "width": "15px" },
                    { "data": "remark", "width": "50px" }
                ]
         });
    });
</script>