@{
    ViewBag.Title = "MessageText";
}

<div classs="container p-5">
    <div class="row no-gutters margin-top-login">
        <div class="col-lg-6 col-md-12 m-auto">
            <div class="alert alert-success fade show" role="alert">
                <h4 class="alert-heading">@ViewBag.HeaderText</h4>
                <p>  @ViewBag.MessageText</p>
                <meta http-equiv="refresh" content="4; url='/User/Infor'">
            </div>
        </div>
    </div>
</div>