
<footer id="footer" class="bg-one mt-3">
    <div class="container">
        <div class="row wow fadeInUp" data-wow-duration="500ms">
            <div class="col-lg-12">
                <!-- copyright -->
                <div class="copyright text-center">
                    <a href="/Home/Index">
                        <img src="~/Images/traceability-02.png" width="75" height="75" style="border-radius:50%"  alt ="Alternate Text" class="m-0"/>
                    </a>

                    <p>Copyright
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>. All Rights Reserved.
                    </p>
                </div>
                <!-- /copyright -->

            </div> 
        </div> 
    </div> 
</footer> 
