<li><a class="smooth-scroll m-3" href="#about" id="b1">關於</a></li>
<li><a class="smooth-scroll m-3" href="#product" id="b2">產品</a></li>
<li><a class="smooth-scroll m-3" href="#contact-us" id="b3">聯絡我們</a></li>
<li>@Html.ActionLink("登入", "Login", "User", null, new { @class = "fa fa-sign-in" })</li>