<li><a class="smooth-scroll m-3" href="#about">關於</a></li>
<li><a class="smooth-scroll m-3" href="#product">產品</a></li>
<li><a class="smooth-scroll m-3" href="#contact-us">聯絡我們</a></li>
<li>@Html.ActionLink("登入", "Login", "User", null, new { @class = "fa fa-sign-in" })</li>