body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}


.margin-top-login{
    margin-top:30px;
}

.ColumnHeader {
    text-align: left;
    font-size: large;
    font-weight: bold;
    width: 10px !important;
    white-space: nowrap !important;
}

.ColumnCell {
    width: 10px !important;
    white-space: nowrap !important;
}

.ColumnLastCell {
    width: 100% !important;
    white-space: nowrap !important;
}

.panel-heading {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    text-align: center !important;
    color: white !important;
    font-weight: bold !important;
    font-size: larger !important;
}

.pagination {
    padding: 2px !important;
    margin:0px !important;
}

.table th, .table td {
    padding: 2px !important;
}

.row-group {
    padding: 2px !important;
}